/* @import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

.lobster-regular {
  font-family: 'Lobster', 'sans-serif';
  font-weight: 400;
  font-style: normal;
} */

/* @theme {
  --font-lobster: 'Lobster', 'sans-serif';
  } */

@import 'tailwindcss';

@layer components {
  .btn-contact {
    @apply mt-8 space-y-0 rounded-xl border border-gray-200 bg-black/40 p-6 text-white backdrop-blur-md hover:bg-black/20;
  }
}

@custom-variant dark (&:where(.dark, .dark *));
