apiVersion: apps/v1
kind: Deployment
metadata:
  name: backend
  labels:
    app: backend
spec:
  replicas: 1
  selector:
    matchLabels:
      app: backend
  template:
    metadata:
      labels:
        app: backend
    spec:
      containers:
        - name: backend
          image: backend-image
          imagePullPolicy: IfNotPresent
          ports:
            - containerPort: 5000
          env:
            - name: GIN_MODE
              value: release
          envFrom:
            - secretRef:
                name: blog-service-env
          # readinessProbe:
          #   httpGet:
          #     path: /api/healthz
          #     port: 5000
          #   initialDelaySeconds: 2
          #   periodSeconds: 5
          # livenessProbe:
          #   httpGet:
          #     path: /api/healthz
          #     port: 5000
          #   initialDelaySeconds: 5
          #   periodSeconds: 10
          resources:
            requests:
              memory: '128Mi'
              cpu: '100m'
            limits:
              memory: '256Mi'
              cpu: '200m'
          securityContext:
            allowPrivilegeEscalation: false
            readOnlyRootFilesystem: true
            capabilities:
              drop:
                - ALL
