apiVersion: apps/v1
kind: Deployment
metadata:
  name: backend
  labels:
    app: backend
spec:
  replicas: 1
  selector:
    matchLabels:
      app: backend
  template:
    metadata:
      labels:
        app: backend
    spec:
      containers:
        - name: backend
          image: backend-image
          imagePullPolicy: IfNotPresent
          ports:
            - containerPort: 5000
          env:
            - name: GIN_MODE
              value: release
            - name: API_SHARED_SECRET
              valueFrom:
                secretKeyRef:
                  name: blog-service-env
                  key: API_SHARED_SECRET
            - name: SECRET_KEY
              valueFrom:
                secretKeyRef:
                  name: blog-service-env
                  key: SECRET_KEY
            - name: MONGGOB_URI
              valueFrom:
                secretKeyRef:
                  name: blog-service-env
                  key: MONGGOB_URI
            - name: MONGODB_DBNAME
              valueFrom:
                secretKeyRef:
                  name: blog-service-env
                  key: MONGODB_DBNAME
            - name: ADMIN_EMAIL
              valueFrom:
                secretKeyRef:
                  name: blog-service-env
                  key: ADMIN_EMAIL
            - name: ALLOW_DESTRUCTIVE
              valueFrom:
                secretKeyRef:
                  name: blog-service-env
                  key: ALLOW_DESTRUCTIVE
            - name: REGISTRATION_OPEN
              valueFrom:
                secretKeyRef:
                  name: blog-service-env
                  key: REGISTRATION_OPEN
          resources:
            requests:
              memory: '64Mi'
              cpu: '50m'
            limits:
              memory: '128Mi'
              cpu: '100m'
          securityContext:
            allowPrivilegeEscalation: false
            readOnlyRootFilesystem: true
            capabilities:
              drop:
                - ALL
