apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: nkv2-ingress
  annotations:
    kubernetes.io/ingress.class: nginx
spec:
  rules:
    - host: nkv2.local
      http:
        paths:
          - path: /api
            pathType: Prefix
            backend:
              service:
                name: backend
                port:
                  number: 5000
          - path: /
            pathType: Prefix
            backend:
              service:
                name: frontend
                port:
                  number: 8080
